<%= form_with(model: seating) do |form| %>
  <% if seating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seating.errors.count, "error") %> prohibited this seating from being saved:</h2>
      <ul>
        <% seating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :given_seats %>
    <%= form.text_field :given_seats %>
  </div>
  <div class="field">
    <%= form.label :passengers %>
    <%= form.text_field :passengers %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
