<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>
<p>
  <strong>Model:</strong>
  <%= @airplane.model %>
</p>
<hr />
<% @airplane.seatings.each do |s|  %>
  <p> <%= s.given_seats %> </p>
  <p> <%= s.passengers %> </p>
<% end %>
<hr>
<div class="card" style="width: 18rem;">
  <%= form_tag(seatings_path) do %>
    <div class="mb-3">
      <label for="seat_array" class="form-label">Column/Rows:</label>
      <div class="form-text">A 2D array that represents the columns and rows, example:</div>
      <div class="form-text">[[3,2], [4,3], [2,3], [3,4]]</div>
      <div class="form-text">[[3,4], [4,5], [2,3], [3,4]]</div>
      <div class="form-text">[[2, 8], [3, 8]]</div>
      <div class="form-text">[[2, 8], [3, 8], [2, 8]]</div>
      <input type="text" class="form-control" id="seat_array" name="seat_array" value="<%=params[:seat_array]%>">
    </div>
    <div class="mb-3">
      <label for="no_passengers" class="form-label">Number of passengers:</label>
      <input type="text" class="form-control" id="no_passengers" name="no_passengers" value="<%=params[:no_passengers]%>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
<hr />
<% if @valid_inputs %>
  <h2 class="seats-generated">Airplane seats generated</h2>
  <div class="grid-container" style="grid-template-columns: <%= " auto" * @num_groups %>;">
    <% @prepared_seats.each do |ps| %>
      <div class="">
        <% ps.each do |seat| %>
          <div class="parent-seat">
            <% seat.each do |s| %>
              <div class="seat <%= @all_data[s][1] %>">
                <%= @all_data[s][0].to_i <= @passengers_queue ? @all_data[s][0] : ''  %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<hr />
<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
