prepared_seats: <%= @prepared_seats %>
<br />
<br />


test: <%= @all_data %>
<br />
<br />

<%= @aisle %>
<br />
<br />
<%= @windw %>
<br />
<br />
<%= @middlez %>
<br />
<br />

<div class="grid-container" style="grid-template-columns: <%= " auto" * @no_groups %>;">
    <% @prepared_seats.each do |ps| %>
        <div class="">
            <% ps.each do |seat| %>
                <div class="parent-seat">
                    <% seat.each do |s| %>
                        <div class="seat <%= @all_data[s][1] %>">
                            <%= @all_data[s][0].to_i <= @passengers_queue ? @all_data[s][0] : ''  %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>    
</div>

<%# <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>